/* App.css */

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: aquamarine;
}

.main-header,
.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.menu {
  display: flex;
  gap: 20px; /* Adjusted from 100px */
}

/* Added style for NavLink */
.menu a {
  color: #fff;
  text-decoration: none;
  padding: 8px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.menu a:hover {
  background-color: #555;
}

.main-footer {
  margin-top: auto;
}

/* Styles for Finished component */
.finished {
  width: 75%;
  margin: 0 auto; /* Center the content */
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 10px; /* Adjust the gap as needed */
}

.image-grid img {
  width: 100%;
  height: auto;
  display: block;
}

.about-us {
  height: 100vh;
}

.about-us h1 {
  text-align: center;
  height: 5vh;
  line-height: 5vh;
}

.about-us .img-about-us {
  height: 95vh;
  background-size: cover;
}

.about-us .text-cont {
  height: 50vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.about-us .our-story {
  max-width: 600px;
  text-align: center;
}