body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: aquamarine;
}

.main-header,
.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.menu {
  display: flex;
  gap: 20px; /* Adjusted from 100px */
}

/* Added style for NavLink */
.menu a {
  color: #fff;
  text-decoration: none;
  padding: 8px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.menu a:hover {
  background-color: #555;
}

.main-footer {
  margin-top: auto;
}
